$blue: #4361ee;

.root {
  background-color: transparent;
  overflow: hidden;
  width: 500px;
  height: 246px;
  top: 0;
  right:-10vmin;
  margin-bottom: 15px;
  position: absolute;

  &:hover {
    .editButtons {
      opacity: 1;
      display: flex;
      width: 80px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      transition: width 0.15s ease-in-out;
    }
  }

  &Full {
    &:hover {
      background-color: rgb(180, 32, 32);
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}




.postDetails {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}