
    .root {
      margin-top: 50px;
      max-height: 515px;
      box-sizing: border-box;
      padding: 20px;
    }
    .bullet {
      display: inline-block;
      margin: 0 2px;
      transform:scale(0.8);
    }
    .title {
      font-size: 14px;
    }
    .pos {
      margin-bottom: 12px;
    }

    .r{
     display: flex;
     justify-content: end;
    }

    .df {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #e1dee4; 
      align-items: self-start;
    }

    .item {
      flex-direction: column;
      height: 30px;
      
      font-weight: 800;
      font-size: 1em;
       
      color: #6b2eaf;
      align-items: flex-start !important;
      list-style-type: none;
      
    }
    
    .underline{
      color: #115714;
      text-decoration:line-through !important;

    }
    
