
    .root {
      margin-top: 100px;
      min-width: 275;
    }
    .bullet {
      display: inline-block;
      margin: 0 2px;
      transform:scale(0.8);
    }
    .title {
      font-size: 14px;
    }
    .pos {
      margin-bottom: 12px;
    }
